@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  font-family: "Inter",sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  max-width: 600px;
  margin: 20px auto;
}
h3{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  border-bottom: 1px dashed #ccc;
  color: darkslategrey;
}
.btn{
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #ccc;
}
.green{
    background-color: green;
}
.red{
    background-color: rgb(200, 20, 20);
    justify-content: space-between;
}
.input-search{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.input-search input{
    width: 300px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}
.table{
    width: 100%;
    border-collapse: collapse;
    cursor: pointer;
}
.table th,
.table td{
    border: 1px solid #ddd;
    padding: 8px;
}

.table th{
    background-color: #f2f2f2;
}
.table tr:nth-child(even){
    background-color: #f2f2f2;
}
.table tr:hover{
    background-color: #ddd;
}
.modal{
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top:0;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
}
.modal-content{
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close{
    color:#aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus{
    color: black;
}

.modal h2{
    font-weight: 500;
    margin-bottom: 20px;
}
.input-group{
    margin-bottom: 10px;
}
.input-group label{
    display: block;
    margin-bottom: 5px;
}
.input-group input{
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}