@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: "Inter",sans-serif;
    color: white;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(121, 85, 171);
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border: none;
    background-color: rgb(209, 100, 116);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
h3{
    font-size: 20px;
    font-weight: 500;
}
div{
    text-align: center;
}
